/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .footer {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .footer-buttons {
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
  }
  
  .footer-buttons button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .footer-buttons button:hover {
    background-color: #0056b3;
  }
  
  /* Contact Info and Services Styling */
  .contactinfo, .about-us {
    color: #333;
    margin-top: 20px;
  }
  
  .about-us ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style-type: none;
    padding: 0;
  }
  
  .about-us ul li {
    margin-bottom: 5px;
  }
  