@use "header" as *;
@use "home" as *;
@use "login" as *;
@use "footer" as *;
@use "quicksettings" as *;
@use "profile" as *;
@use "address" as *;
@use "services" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
